body {
  font-family: sans-serif;
}

#spinner-container {
  position: absolute;
  top: 20%; /* Ajustez la position verticale du conteneur */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Assure que le spinner est au-dessus de tous les éléments */
  display: block; /* Assure que le conteneur est visible */
  text-align: center; /* Centrer le contenu horizontalement */
}

.spinner {
  position: relative; /* Changer en relative pour centrer le texte */
  width: 50px; /* Largeur du spinner */
  height: 50px; /* Hauteur du spinner */
  border: 6x solid #f3f3f3; /* Couleur de la bordure */
  border-top: 6px solid #3498db; /* Couleur de la bordure du dessus */
  border-radius: 50%;
  animation: spin 1.5s linear infinite; /* Animation de rotation plus lente */
  margin: 0 auto; /* Centrer horizontalement */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading-text {
  text-align: center;
  color: #3498db; /* Couleur du texte */
  margin-top: 10px; /* Marge en haut */
}
